{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
    * {
        font-family: 'Josefin Sans',
            sans-serif;
    }

    h1 {
        font-weight: 600;
    }

    .footer{
    background-color: rgb(233, 232, 211);
    font-size: 25px;
    padding:20px;
    margin-top: 10px;
}

</style>

<h1 class = "text-center">F-Society</h1>
<hr>

<div class="container-fluid">
    <div class="row">

        {% for neighbourhood in neighbourhoods %}
        <div class="col-lg-4">
            <div
                style="background-color: rgb(233, 232, 211);box-sizing: border-box; margin-top:2%;box-shadow: 0vh 0vh 1vh gainsboro;">
                <div class="row" style="padding-top: 1%">
                    <div class="col-md-12">
                        <h4 style="font-weight:600;">Name: <a href="{% url 'view_neighbourhood' id=neighbourhood.id %}" class="text-right"
                                style="text-decoration: none;">{{neighbourhood.neighbourhood_name}}
                                <img src="https://img.icons8.com/color/48/000000/circled-up-right--v1.png"
                                    style="width:15px;height:auto" />
                            </a></h4>

                    </div>
                </div>
                <div class="row" style="font-size:10pt;">
                    <div class="col-md-6" style="padding-bottom: 2%;font-weight:600;"> Location: {{neighbourhood.neighbourhood_location}}
                    </div>
                </div>
                <div class="">
                    <a href="{% url 'view_neighbourhood' id=neighbourhood.id %}">
                        <img src="{{neighbourhood.neighbourhood_photo.url}}" class="img-responsive" alt="{{image.neighbourhood_name}}"
                            style="width:100%;width:100%">
                        <div class="overlay">
                        </div>
                    </a>
                </div>

            </div>
        </div>

        {% endfor %}


    </div>
</div>



<footer class="footer">
    <p class="text-center">© Kipyegon Kirui Vitalis. All Rights Reserved</p>
</footer>
{% endblock %}

</html>